<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>178239179081-hoqaaou4qmob573620ct0np6tmhldfs6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.178239179081-hoqaaou4qmob573620ct0np6tmhldfs6</string>
	<key>API_KEY</key>
	<string>AIzaSyCKbTackIIjkunfAN-VBSquzE2Pr9lsHiE</string>
	<key>GCM_SENDER_ID</key>
	<string>178239179081</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jrmin.todo</string>
	<key>PROJECT_ID</key>
	<string>todo-21187</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-21187.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:178239179081:ios:c33000cd2f57bd2c44f298</string>
	<key>DATABASE_URL</key>
	<string>https://todo-21187.firebaseio.com</string>
</dict>
</plist>